@import "../base/config.less";

.spam-can-user {
  form {
    .standard-form();
    .bg-dark();
    margin-bottom: 15px;

    .detail {
      display: block;
      font-size: 14px;
      padding-top: 5px;
    }
  }
}

