Django==2.2.9
pytz==2016.7
Pillow==8.1.1
psycopg2==2.8.4
lxml==4.4.1
tripphrase==0.5
django-houston==0.3.0
email-normalize==0.2.1
bbcode==1.0.33
django-recaptcha2==1.4.1
requests==2.22.0

# Dev dependencies
django-debug-toolbar==2.1

# Regardless of the forum db, this is required for migrations. Can be removed
# if you are not migrating from a vB forum.
mysql-connector==2.2.9

# Recommended WS requirement, you can swap these out for gunicorn or whatever
# to cool kids are using these days
uWSGI==2.0.19.1

# Heroku django stuff
django-heroku==0.3.1
dj-database-url==0.5.0
