{% extends "base.html" %}
{% load bbc %}

{% block page_name %}
Report Post -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{ post.thread.forum.get_url }}">{{ post.thread.forum.name }}</a>
  &gt; <a href="{{ post.thread.get_url }}">{{ post.thread.title }}</a>
  &gt; Report Post
{% endblock %}

{% block content %}
  <div class="form-page">
    <form method="POST" action="{% url 'report-post' post.pk %}" class="editor">
      <h1>
        Report Post
      </h1>
      <fieldset>
        {% csrf_token %}
        <p>
          {{ config.report_message|bbc:bbcode_settings }}
        </p>

        <p>
          {{ post.quote_content|bbc:bbcode_settings }}
        </p>

        {{ form.as_p }}

        <input type="submit" value="Submit Report" />
      </fieldset>
     </form>
   </div>
{% endblock %}

{% block js %}                                                                  
  {% include "require.html" with bootstrap="editor-bootstrap" %}                
{% endblock %}     

