{% extends "base.html" %}
{% load static %} 

{% block page_name %}
  Members List -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{ request.get_full_path }}">Members List</a>
{% endblock %}

{% block content %}
  <div class="members user-index">

    <div class="find-user">
      <form action="{% url 'find-user' %}" method="POST">
        <h2>
          <label for="username">Find User:</label>
        </h2>
        <fieldset>
          {% csrf_token %}
          <div class="input-wrapper">
            <input
              id="emanresu"
              name="emanresu"
              type="text"
              data-auto-suggest="true"
              data-auto-suggest-endpoint="{% url 'api-user-serach' %}"
              data-auto-suggest-delimiter=";"
            />
            <input type="submit" value="Find" />
          </div>
        </fieldset>
      </form>
    </div>

    <div class="sort-and-pages">
      <div>
        <form method="GET" action="{% url 'members' %}" id="sort-form">
          <select name="sortby" id="id_action">
            <option value="id">Sort by ID</option>
            <option value="username">Sort by Username</option>
            <option value="post_count">Sort by Post Count</option>
            <option value="taboo_successes">Sort by Taboo Victories</option>
          </select>
          <input type="submit" value="Go" />
        </form>
      </div>

      {% include "page_list.html" with page=posters %}
    </div>

    {% include 'user_list.html' %}

    {% include "page_list.html" with page=posters %}

  </div>
{% endblock %}

{% block js %}
  {% include "require.html" with bootstrap="auto-suggest-bootstrap" %}
{% endblock %}
