{% extends "base.html" %}

{% block page_name %}
  {{ page_name|default:"Private Messages" }} -
{% endblock %}

{% block content %}
  <div class="private-messages">
    <h1>{{ page_name }}</h1>
    <div class="content">
      <section class="nav-pane">
        <ul>
          <li>
            <a href="#">Compose</a>
          </li>
          <li>
            <a href="{% url 'inbox' %}">Inbox</a>
          </li>
          <li>
            <a href="#">Sent Items</a>
          </li>
          <li>
            <a href="#">Messaging Settings</a>
          </li>
        </ul>
      </section>
      <section class="content-pane">
        {% block pm_content %}
        {% endblock %}
      </section>
    </div>
  </div>
{% endblock %}
