@import "config.less";

* {
  box-sizing: border-box;
}

body {
  background: @bg_teal url(/static/img/bg.jpg) repeat 0 0;
  font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

input {
  font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
}
  

.page-content {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 5px;

  .banner {
    margin: 10px 0;
  }
}

a {
  .link-style();
}

.paginator {
  display: block;
  overflow: hidden;
  padding-top: 20px;

  ol {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      background-color: @bg_light;
      float: left;
      width: 20px;
      text-align: center;
      border: 1px solid @white;
      
      &.arrow {
        .teal();
        width: 30px;
      }

      &.current-page {
        a {
          font-weight: bold;
        }
      }

      a {
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
}

.breadcrumb {
  .rounded();
  background-color: @bg_dark;
  margin-bottom: @content_margin_bottom;

  h3 {
    .title-box();
  }

  .crumbs {
    padding: 5px @std_lr_padding;
  }
}

.user-controls {
  .rounded();
  background-color: @bg_dark;
  margin-bottom: @content_margin_bottom;

  h3 {
    .title-box();
  }

  .user-controls-content {
    .flex-stretch();
    flex-direction: row;

    .control-links {
      .flex-stretch();
      padding: 0;
      margin: 0;
      list-style: none;
      flex: 1;

      li {
        .flex-stretch();
        border-right: 1px solid @seperator_color;

        a, input[type="submit"] { 
          .link-style();

          font-size: 12px;
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 7px 20px;
          border: none;
          background-color: @bg_dark;
          cursor: pointer;

          &:hover {
            background-color: @bg_light;
          }
        }
      }
    }

    .welcome-block {
      padding-right: @std_lr_padding;
      display: flex;
      align-items: center;

      > * {
        display: block;
        text-align: right;
      }
    }
  }

  .inline-login {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 5px 5px;

    .fields {
      display: table;
      padding-right: 5px;

      p {
        display: table-row;

        &:first-child label {
          padding-bottom: 5px;
        }

        & > * {
          display: table-cell;
        }

        label {
          padding-right: 5px;
        }
      }
    }

    input[type="submit"] {
      .btn();
      .teal();
    }
  }
}

blockquote {
  background-color: @bg_light;
  border: 1px solid @seperator_color;
  padding: 10px 20px;
  margin: 10px 0 0 10px;
  position: relative;

  &:before {
    content: 'Quote:';
    position: absolute;
    top: -16px;
    left: 0px;
    font-size: 10px;
  }
}
