@import "config.less";

* {
  box-sizing: border-box;
}

body {
  background: @bg_teal url(/static/img/bg.jpg) repeat 0 0;
  font: 12px Verdana, Lucida, Arial, Helvetica, sans-serif;
  border: 0;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.page-content {
  max-width: 1080px;
  margin: 0 auto;

  .banner {
    margin: 10px 0;
  }
}

a {
  color: @link_color;
  font-weight: bold;
}


.paginator {
  display: block;
  overflow: hidden;
  padding-top: 20px;

  ol {
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      background-color: @bg_light;
      float: left;
      width: 20px;
      text-align: center;
      //border: 1px solid @seperator_color;
      border: 1px solid @white;
      
      &.arrow {
        .teal();
        width: 30px;
      }

      &.current-page {
        a {
          font-weight: bold;
        }
      }

      a {
        text-decoration: none;
        font-weight: normal;
      }
    }
  }
}
