@bg_dark: #D5DEE5;
@bg_light: #E8EFF4;
@bg_teal: #008080;
@fg: #000000;
@fg_alt: #FFFFFF;
@link_color: #008080;
@fg_low_contrast: #333333;
@seperator_color: #BBBBBB;
@white: #FFFFFF;

@std_lr_padding: 20px;

.teal() {
  background-color: @bg_teal;
  color: @fg_alt;

  a {
    color: @fg_alt;
  }
}

.teal-inv() {
  background-color: @fg_alt;
  color: @bg_teal;
}

.rounded() {
  border-radius: 5px;
  overflow: hidden;
}

.btn() {
  border-radius: 0px;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

.small-btn() {
  .btn();
  border-radius: 3px;
  padding: 5px 10px;
}

.title-box() {
  .teal;

  border-bottom: 1px solid @white;
  padding: 5px @std_lr_padding;
  font-size: 12px;
  font-weight: bold;
}

.index-table() {
  width: 100%;
  border-spacing: 0;

  tr:not(:last-child) td {
    border-bottom: 1px solid @seperator_color;
  }

  td {
    color: @fg;

    &:not(:last-child) {
      border-right: 1px solid @seperator_color;
    }

    &:nth-child(odd) {
      background-color: @bg_light;
    }

    &:nth-child(even) {
      background-color: @bg_dark;
    }
  }

  th {
    &:not(:last-child) {
      border-right: 1px solid @white;
    }
  }

  td, th {
    padding: 5px 15px;
  }
}

.standard-form() {
  .rounded();
  background-color: @white;
  padding-bottom: 10px;

  h1, h2, h3, h4, h5, h6 {
    .title-box;
  }

  fieldset {
    padding: 0 @std_lr_padding;
    border: none;
    margin: 0;

    label, input:not([type="submit"]), textarea {
      display: block;
      width: 100%;
    }

    label {
      margin-top: 10px
    }

    [type="submit"] {
      .btn();
      .teal();

      float: right;
      margin-top: 20px;
    }
  }
}

.flex-stretch() {
  display: flex;
  align-items: stretch;
}
