@import "../combined/combined.less";

@THEME: "bibliotek";

@bg_ultra_dark: #FFF;
@fg_ultra_dark: #000;
@bg_dark: #FFF;
@bg_light: #FFF;
@bg_primary: #000;
@fg: #000;
@fg_alt: #FFF;
@bg_primary_disabled: @bg_light;
@fg_disabled: #B9B9B9;
@link_color: #000;
@fg_low_contrast: #333333;
@alert_red: #EC0000;
@seperator_color: #BBB;
@seperator_color_major: #000;
@white: #FFFFFF;

@body_font_family: Georgia, "Times New Roman", serif;
@body_font_size: 14px;
@rounding_factor: 0;
@minor_rounding_factor: 0;

.index-table() {
  td:not(:last-child) {
    border-right: none;
  }
}

.link-style() {
  color: @link_color;
  font-weight: normal;
  text-decoration: underline;
}

._theme_button() {
  border-radius: 0px;
  background-color: @bg_light;
  border: 1px solid @seperator_color_major;
  padding: 10px 20px;
  text-decoration: none;

  &[aria-disabled], &[disabled] {
    border-style: dashed;
  }
}
