@import "../base/config.less";

.user-profile {
  .rounded();
  background-color: @bg_dark;

  h3 {
    .title-box();
  }

  .face-block {
    padding-bottom: 7px;
    margin-bottom: 7px;
    border-bottom: 1px solid @seperator_color;

    h1 {
      font-size: 30px;
      font-weight: normal;
    }

    small {
      font-size: 12px;
    }
  }

  .profile-content {
    padding: 7px @std_lr_padding;
  }
}

