{% extends "private_messages/pm_base.html" %}

{% block pm_content %}
  <div class="compose-pm">
    <form action="{% url 'compose-pm' %}" method="POST" class="editor">
      <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
        <input class="preview-post-action"
               type="submit"
               formaction="{% url 'preview-post' 'compose-pm' %}"
               data-preview-url="{% url 'api-render-bbcode' %}"
               value="Preview" />
        
      </fieldset>
    </form>
  </div>
{% endblock %}

{% block js %}
  {% include "require.html" with bootstrap="editor-bootstrap" %}
{% endblock %}
