@import "../base/config.less";

.preview-post {
  form {
    .standard-form();
    background-color: @bg_light;
  }
}

.post-preview-block {
  padding: 20px;

  > span {
    padding-bottom: 3px;
    display: block;
  }

  .content {
    background-color: @bg_dark;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 5px;
  }
}

