@import "../base/config.less";

.forum-index {
  .rounded();

  & > table {
    .index-table;

    tr {
      td, th {
        &:nth-child(n+3) {
          @media(max-width: @breakpoint) {
            display: none;
          }
        }
      }

      th {
        .teal;
      }

      td {
        &:nth-child(1) {
          width: 50px;
        }

        &:nth-child(3) {
          text-align: center;
          width: 50px;
        }

        &:nth-child(4) {
          text-align: center;
          width: 50px;
        }

        &.category-divider {
          .teal();
          border-top: 1px solid @white;
          border-bottom: 1px solid @white;
          font-weight: bold;
        }

        .forum-name {
          display: block;
          font-weight: bold;
          color: @link_color
        }
      }
    }
  }
}
