{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>
      {% block title %}
        {% block page_name %}{% endblock %}
        {{ config.forum_name }}
      {% endblock %}
    </title>
    
    <link rel="stylesheet" href="{% static "css/combined.css" %}">
    {% block css %} {% endblock %}

  </head>
  <body>
    <div class="page-content">
      <a href="/">
        <img src="{% static banner %}" class="banner" >
      </a>

      {% block content %}
        Base Template.
      {% endblock %}
    </div>
  </body>
</html>
