{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <title>
      {% block title %}
        {% block page_name %}{% endblock %}
        {{ config.forum_name }}
      {% endblock %}
    </title>
    
    <link rel="stylesheet" href="{% static "css/combined.css" %}">
    {% block css %} {% endblock %}

  </head>
  <body>
    <div class="page-content">
      <a href="/">
        <img src="{% static banner %}" class="banner" >
      </a>

      <div class="user-controls">
        <h3>User Controls</h3>

        <div class="user-controls-content">
        {% if user.is_authenticated %}
          <ul class="control-links">
            <li>
              <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" value="Logout">
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
              </form>
            </li>
          </ul>

          <div class="welcome-block">
            <span>
              Welcome, <a href="{{ user.get_url }}">{{ user.username }}</a>
            </span>
          </div>
        {% else %}
          <form class="inline-login" action="{% url 'login' %}" method="POST">
            <div class="fields">
              {{ login_form.as_p }}
              {% csrf_token %}
              <input type="hidden" name="next" value="{{ request.get_full_path }}">
            </div>
            <input type="submit" value="Login" />
          </form>
        {% endif %}
        </div>
      </div>

      {% block navigation %}
        <div class="breadcrumb">
          <h3>Navigation</h3>

          <div class="crumbs">
            <a class="crumb" href="{% url "forum-index" %}">
              {{ config.forum_name }}
            </a>

            {% block breadcrumb %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}

      {% block content %}
        Base Template.
      {% endblock %}
    </div>
  </body>
</html>
