{% load staticfiles %}
{% load pagination %}
{% load util_tags %}

<!doctype html>
<html class="no-js">
  <head>
    <title>
      {% block title %}
        {% if config.DEBUG %}
          [DEBUG] - 
        {% endif %}
        {% block page_name %}{% endblock %}
        {{ config.forum_name }}
      {% endblock %}
    </title>
    
    <link rel="author" href="{% url 'humans' %}">

    {% if rel_page %}
      {% if rel_page.has_next %}
        <link rel="next" href="{{ request.get_full_path|mixin_page_param:rel_page.next_page_number  }}">
      {% endif %}
      {% if rel_page.has_previous %}
        <link rel="prev" href="{{ request.get_full_path|mixin_page_param:rel_page.previous_page_number  }}">
      {% endif %}
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="theme-color" content="{% get_theme_color request.user %}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{% get_theme_color request.user %}">
    <link rel="stylesheet" id="theme-sheet" href="{% get_theme request.user %}">
    {% block css %} {% endblock %}

    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    {% if allow_js %}
      <script>
        ;(function() {
          var e = document.documentElement;
          e.className = e.className.replace(/(^| )no-js( |$)/, 'js');
        })();
      </script>
    {% endif %}

    {% block head_extra %}{% endblock %}
  </head>
  <body>
    <div class="page-content">
      <a href="/" id='top-banner'>
        <div class="peekaboo-container">
          <img src="{% static "img/peekaboo.png" %}" class="peekaboo" >
        </div>
        <img src="{% static banner %}" class="banner" >
      </a>

      <div class="user-controls">
        <h3>User Controls</h3>

        <div class="user-controls-content">
          {% include 'control-links.html' %}

          {% if user.is_authenticated %}
            <div class="welcome-block">
              <span class="welcome-line">
                Welcome, <a href="{{ user.get_url }}">{{ user.username }}</a>
              </span>
            </div>
          {% else %}
            <form class="inline-login" action="{% url 'login' %}" method="POST">
              <div class="fields">
                {{ login_form.as_p }}
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ request.get_full_path }}">
              </div>
              <input type="submit" value="Login" />
            </form>
          {% endif %}
        </div>
      </div>

      {% if allow_js %}
        <noscript>
          <div class="page-message">
            <div class="icon-container">
              <div class="alert-icon"></div>
            </div>
            <div class="message-content">
              <p>
                Hey, it looks like your browser has javascript disabled. That's perfectly fine, we just wanted to let you know that if you disable the "allow javascript" option on  <a href="{{ user.get_url }}">your profile page</a> we will make a some changes to improve your experience with javascript turned off. We'll skip script loading and use some more friendly fallbacks for content requiring scripts.
              </p>
            </div>
          </div>
        </noscript>
      {% endif %}

      {% block navigation %}
        <div class="breadcrumb">
          <h3>Navigation</h3>

          <div class="crumbs">
            <a class="crumb" href="{% url "forum-index" %}">
              {{ config.forum_name }}
            </a>

            {% block breadcrumb %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}

      {% block content %}
        Base Template.
      {% endblock %}

      <a class="jump-to-top" href="#top-banner">
        <i class="up-arrow"></i>
        <span>Jump to Top</span>
        <i class="up-arrow"></i>
      </a>

      <footer class="page-footer">
        Oldschool forum software, made with
        <a href="#" class="hyper-drive">&#127866;</a>
        , in space.
        <a href="https://github.com/Lanny/ISS">Fork me hard baby.</a>
      </footer>
    </div>

    {% block js %}
      {% include "require.html" with bootstrap="base" %} 
    {% endblock %}

    {% include 'Houston/tracking.html' %}

    <link rel="stylesheet" href="{% url 'smilies-css' %}">
  </body>
</html>
