{% extends "base.html" %}

{% load static from staticfiles %} 
{% load util_tags %}
{% load humanize %}

{% block page_name %}
  Forums -
{% endblock %}

{% block content %}
  <section class="forum-index">
    <table >
      <tbody>
        <tr>
          <th>New</th>
          <th>Forum</th>
          <th>Threads</th>
          <th>Posts</th>
        </tr>
      </tbody>
      {% for category in categories %}
      <tbody>
        <tr>
          <td colspan="4" class="category-divider">
            {{ category.name }}
          </td>
        </tr>


        {% for forum in forums_by_category|get_item:category.pk %}
        <tr>
          <td>
            <div class="read-status">
            {% if forum.is_unread %}
              <img src="{% static 'img/forum_new.gif' %}" alt="Unread posts" />
            {% else %}
              <img src="{% static 'img/forum_old.gif' %}" alt="No new posts" />
            {% endif %}
            </div>
          </td>
          <td>
            {% if forum.member_view_only and user.is_authenticated %}
            <a class="forum-name"
               href="{% url 'thread-index' forum.pk %}">
               {{ forum.name }}
            </a>
            {% elif forum.member_view_only and not user.is_authenticated %}
            <a>
               Register to view:
            </a>
            {% elif not forum.member_view_only %}
            <a class="forum-name"
               href="{% url 'thread-index' forum.pk %}">
               {{ forum.name }}
            </a>
            {% endif %}
            <span class="forum-description">{{ forum.description }}</span>
          </td>
          <td>{{ forum.get_thread_count|intcomma }}</td>
          <td>{{ forum.get_post_count|intcomma }}</td>
        </tr>
        {% endfor %}
      </tbody>
      {% endfor %}
    </table>
  </section>
{% endblock %}
