{% extends "base.html" %}

{% load static from staticfiles %} 

{% block page_name %}
  Forums -
{% endblock %}

{% block content %}
  <section class="forum-index">
    <table >
      <tr>
        <th>New</th>
        <th>Forum</th>
        <th>Threads</th>
        <th>Posts</th>
      </tr>
      {% for forum in forums %}
      <tr>
        <td>
          <div class="read-status">
          {% if forum.is_unread %}
            <img src="{% static 'img/forum_new.gif' %}" alt="Unread posts" />
          {% else %}
            <img src="{% static 'img/forum_old.gif' %}" alt="No new posts" />
          {% endif %}
          </div>
        </td>
        <td>
          <a class="forum-name"
             href="{% url 'thread-index' forum.pk %}">
            {{ forum.name }}
          </a>
          <span class="forum-description">{{ forum.description }}</a>
        </td>
        <td>{{ forum.get_thread_count }}</td>
        <td>{{ forum.get_post_count }}</td>
      </tr>
      {% endfor %}
    </table>
  </section>
{% endblock %}
