{% extends "base.html" %}

{% block page_name %}
  Recover Password -
{% endblock %}

{% block content %}
  <div class="initiate-password-recovery">
    <form method="POST" action="">
      <h1>
        Recover Password
      </h1>

      <fieldset>
        <p>
          If you've lost or forgotten your password please enter your email
          address below and we'll send an email to that address with a link to
          reset your password.
        </p>

        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit" />
      </fieldset>
     </form>
   </div>
{% endblock %}

