{% extends "base.html" %}

{% block page_name %}
  New Thread -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{ forum.get_url }}">{{ forum.name }}</a>
  &gt; <a href="">New Thread</a>
{% endblock %}

{% block content %}
  <div class="new-thread">
    <form method="POST" action="" class="editor">
      <h1>
        Create New Thread in
        <a href="{{ forum.get_url }}">{{ forum.name }}</a>
      </h1>
      <fieldset>
        {% csrf_token %}
        {{ form }}
        <input type="submit"
               value="Submit" />
        <input class="preview-post-action"
               type="submit"
               formaction="{% url 'preview-post' 'thread' %}"
               data-preview-url="{% url 'api-render-bbcode' %}"
               value="Preview" />
        
      </fieldset>
     </form>
   </div>
{% endblock %}

{% block js %}
  {% include "require.html" with bootstrap="editor-bootstrap" %}
{% endblock %}
