{% extends "base.html" %}

{% block page_name %}
Reply to {{ thread.title }} -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{ thread.forum.get_url }}">{{ thread.forum.name }}</a>
  &gt; <a href="{{ thread.get_url }}">{{ thread.title }}</a>
  &gt; <a href="">New Post</a>
{% endblock %}

{% block content %}
  <div class="new-post">
    <form method="POST" action="" class="editor">
      <h1>
        Reply to:
        <a href="{{ thread.get_url }}">{{ thread.title }}</a>
      </h1>
      <fieldset>
        {% csrf_token %}
        {{ form }}

        <a href="{% url 'bbcode-help' %}" class="bbcode-ref-link" target="_blank">
          BBCode Reference
        </a>

        <input type="submit" value="Submit" />
      </fieldset>
     </form>
   </div>
{% endblock %}

