{% extends "base.html" %}
{% load bbc %}

{% block page_name %}
  Posts by {{ poster.username }} - 
{% endblock %}

{% block breadcrumb %}
  &gt; Users
  &gt; <a href="{{ poster.get_url }}">{{ poster.username }}</a>
  &gt; <a href="{{ request.path }}">Posts</a>
{% endblock %}

{% block content %}
  <div class="posts-by-user">
    <h1>Posts by <a href="{{ poster.get_url }}">{{ poster.username }}</a></h1>

      {% include "post_list.html" with posts=posts show_thread_context=True show_post_controls=False %}
  </div>

  {% include "page_list.html" with page=posts %}
{% endblock %}
