{% load util_tags %}

<div class="post-controls">
  <div class="control-buttons">
    <a class="quote"
       href="{% url 'new-reply' post.thread.pk %}?quote={{ post.pk }}"
       data-bbc-url="{% url 'get-quote' post.pk %}">
      Quote
    </a>

    {% if user.pk != post.author.pk and user_post_count >= config.initial_account_period_total %}
      {% if user.pk in post.get_thanker_pks %}
        <form action="{% url 'unthank-post' post.pk %}" method="POST"
              class="thank-action-form">
          {% csrf_token %}
          <input type="submit" value="Unthank" class="thank-action" />
        </form>
      {% else %}
        <form action="{% url 'thank-post' post.pk %}" method="POST"
              class="thank-action-form">
          {% csrf_token %}
          <input type="submit" value="Thank" class="thank-action" />
        </form>
      {% endif %}
    {% endif %}


    {% if can_edit %}
      <a class="edit-post" href="{% url 'edit-post' post.pk %}">
        Edit
      </a>
    {% endif %}
  </div>

  {% if post.show_edit_line %}
  {% with snapshot=post.get_last_edit_snapshot %}
    <div class="edit-line">
      Post last edited by
      <a href="{{ snapshot.obsolesced_by.get_url }}">{{ snapshot.obsolesced_by.username }}</a>
      on
      {{ snapshot.time|present_dt }}
    </div>
  {% endwith %}
  {% endif %}
</div>
