<div class="post-controls">
  <a class="quote"
     href="{% url 'new-reply' post.thread.pk %}?quote={{ post.pk }}"
     data-bbc-url="{% url 'get-quote' post.pk %}">
    Quote
  </a>

  {% if user.pk != post.author.pk %}
    {% if user.pk in post.get_thanker_pks %}
      <form action="{% url 'unthank-post' post.pk %}" method="POST"
            class="thank-action-form">
        {% csrf_token %}
        <input type="submit" value="Unthank" class="thank-action" />
      </form>
    {% else %}
      <form action="{% url 'thank-post' post.pk %}" method="POST"
            class="thank-action-form">
        {% csrf_token %}
        <input type="submit" value="Thank" class="thank-action" />
      </form>
    {% endif %}
  {% endif %}


  {% if user.pk == post.author.pk %}
    <a class="edit-post" href="{% url 'edit-post' post.pk %}">
      Edit
    </a>
  {% endif %}
</div>
