{% load bbc %}

<ol class="post-list">
{% for post in posts %}
  <li class="post" id="post-{{ post.pk }}">
    <div class="post-hat">
      <span class="post-data">
        {{ post.created|date:"o-m-d" }} at
        {{ post.created|time:"f A e" }}

        {% if show_thread_context %}
          in
          <a href="{{ post.get_url }}">
            {{ post.thread.title }}
          </a>
        {% endif %}
      </span>

      {% if not show_thread_context %}
        <a href="{{ post.get_url }}" class="post-number">
          #{{ forloop.counter0|add:posts.start_index }}
        </a>
      {% endif %}
    </div>

    <div class="user-block">
      <a class="author-name" href="{{ post.author.get_url }}">
        {{ post.author.username }}
      </a>
      <span class="user-title">
        {{ post.author.get_user_title }}
      </span>
    </div>

    <div class="post-block">
      <div class="post-body">
        {{ post.content|bbc:embed_images }}
      </div>

      {% if user.is_authenticated and show_post_controls %}
        <div class="post-controls">
          <a class="quote"
             href="{% url 'new-reply' thread.pk %}?quote={{ post.pk }}"
             data-bbc-url="{% url 'get-quote' post.pk %}">
            Quote
          </a>

          {% if user.pk != post.author.pk %}
            {% if user.pk in post.get_thanker_pks %}
              <form action="{% url 'unthank-post' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Unthank" class="thank-action" />
              </form>
            {% else %}
              <form action="{% url 'thank-post' post.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Thank" class="thank-action" />
              </form>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    </div>

    {% if show_post_controls and post.thanks_set.all %}
      <div class="thanker-block">
        <div class="thanker-caption">
          The following users say if would be alright if the author of this
          post <strong>didn't</strong> die in a fire!
        </div>
        <ul class="thanker-list">
          {% for thanks in post.thanks_set.all %}
            <li>
              <a href="{{ thanks.thanker.get_url }}">
                {{ thanks.thanker.username }}{% comment %}
                {% endcomment %}</a>{% comment %}
              {% endcomment %}{% if not forloop.last %},&nbsp; {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </li>
{% endfor %}
</ol>

