{% extends "base.html" %}

{% load bbc %}

{% block page_name %}
  Preview Post -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="">Preview Post</a>
{% endblock %}

{% block content %}
  <div class="preview-post">
    <form method="POST" action="{{ form_action }}" class="editor">
      <h1>Preview Post</h1>

      {% include 'post_preview_block.html' with content=content %}

      <fieldset>
        {% csrf_token %}
        {{ form }}

        <a href="{% url 'bbcode-help' %}" class="bbcode-ref-link" target="_blank">
          BBCode Reference
        </a>

        <input type="submit"
               formaction="{{ form_action }}"
               value="Submit" />
        <input class="preview-post-action"
               type="submit"
               formaction="{{ preview_action }}"
               data-preview-url="{% url 'api-render-bbcode' %}"
               value="Preview" />
      </fieldset>
     </form>
   </div>
{% endblock %}

{% block js %}                                                                  
  {% include "require.html" with bootstrap="editor-bootstrap" %}                
{% endblock %}     
