{% load staticfiles %}

{% if allow_js %}
  <script>
    window.config = {
      'bandcamp-embed-url': "{% url 'embed-bandcamp' %}",
      'editor-buttons': {% if editor_buttons %}true{% else %}false{% endif %}
    };
  </script>

  <script type="text/javascript" src="{% static 'js/require.js' %}"></script>
  <script type="text/javascript">
    requirejs.config({
      baseUrl: '{% static "js" %}',
      paths: {
      '{{ bootstrap }}': '{% static "js/"|add:bootstrap|add:".js" %}'.split('.').slice(0,-1).join('.')
      }
    });

    requirejs(['{{ bootstrap }}'], function() {});
  </script>
{% endif %}
