{% load staticfiles %}

{% if allow_js %}
  <script>
    window.config = {
      'bandcamp-embed-url': "{% url 'embed-bandcamp' %}"
    };
  </script>

  {% if DEBUG %}
    <script type="text/javascript" src="{% static 'js/require.js' %}"></script>
    <script type="text/javascript">
      requirejs.config({
        baseUrl: '{% static "js" %}',
      });

      requirejs([{{ bootstrap }}], function() {});
    </script>
  {% else %}
    <script type="text/javascript"
            src="{% static 'js/require.js' %}"
            data-main="{% static "js/"|add:bootstrap|add:".js" %}">
    </script>
  {% endif %}
{% endif %}
