{% if post.thanks_set.all %}
  <div class="thanker-block">
    <div class="thanker-caption">
      The following users say if would be alright if the author of this
      post <strong>didn't</strong> die in a fire!
    </div>
    <ul class="thanker-list">
      {% for thanks in post.thanks_set.all %}
        <li>
          <a href="{{ thanks.thanker.get_url }}">
            {{ thanks.thanker.username }}{% comment %}
            {% endcomment %}</a>{% comment %}
          {% endcomment %}{% if not forloop.last %},&nbsp; {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
