{% extends "base.html" %}

{% load util_tags %}

{% block page_name %}
  {{ thread.title|word_filter }} -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{ thread.forum.get_url }}">{{ thread.forum.name }}</a>
  &gt; <a href="{{ thread.get_url }}">{{ thread.title|word_filter }}</a>
{% endblock %}

{% block content %}
  <div class="thread">

    <div class="actions-and-pages">
      <div>
      {% if user.is_authenticated and user.is_staff %}
        <form method="POST" action="{% url 'thread-action' thread.pk %}"
              id="post-actions">
          {% csrf_token %}
          <div class="form-wrapper">{{ thread_action_form.as_p }}</div>

          <input type="hidden" name="next" value="{{ request.get_full_path }}" />
          <input type="submit" value="Go" />
        </form>
      {% endif %}
      </div>

      {% include "page_list.html" with page=posts %}
    </div>


    <div class="thread-content">
      <h1>{{ thread.title|word_filter }}</h1>

      {% include "post_list.html" with posts=posts show_thread_context=False show_post_controls=True show_thanks_block=True %}
    </div>

    {% include "page_list.html" with page=posts %}

    {% if user.is_authenticated and thread.can_reply %}
      <form class="quick-reply editor" method="POST"
            action="{% url 'new-reply' thread.pk %}">
        <h2>Quick Reply</h2>
        <fieldset>
          {% csrf_token %}
          <div class="form-wrapper">
            {{ reply_form.as_p }}
          </div>

          <a href="{% url 'bbcode-help' %}" class="bbcode-ref-link" target="_blank">
            BBCode Reference
          </a>

          <input type="submit"
                 formaction="{% url 'new-reply' thread.pk %}"
                 value="Submit" />
          <input class="preview-post-action"
                 type="submit"
                 formaction="{% url 'preview-post' 'post' %}"
                 data-preview-url="{% url 'api-render-bbcode' %}"
                 value="Preview" />
        </fieldset>
      </form>
    {% endif %}

    {% if not thread.can_reply %}
      <div class="page-message">
        <div class="icon-container">
          <div class="alert-icon"></div>
        </div>
        <div class="message-content">
          <p>This Thread Has Been Locked</p>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}

{% block js %}
  {% include "require.html" with bootstrap="thread" %}
{% endblock %}
