{% load util_tags %}
{% load humanize %}
{% load static from staticfiles %} 

<table class="threads">
  <tr>
    <th>New</th>
    <th>Thread</th>
    <th>Last Post</th>
    <th>Posts</th>
  </tr>
  {% for thread in threads %}
  <tr>
    <td>
      <div class="read-status">
      {% if thread.has_unread_posts %}
        <img src="{% static 'img/forum_new.gif' %}" alt="Unread posts" />
      {% else %}
        <img src="{% static 'img/forum_old.gif' %}" alt="No new posts" />
      {% endif %}
      </div>
    </td>
    <td>
      <div class="title-line">
        <a href="{% url 'thread' thread.pk %}" class="thread-name">
          {{ thread.title|word_filter|truncatechars:100 }}{% comment %}
        {% endcomment %}</a>

        {% with oldest_undread_post=thread.get_jump_post %}
          {% if oldest_undread_post %}
            <a href="{{ oldest_undread_post.get_url }}"
               class="oldest-unread-post"
               title="last unread post">
              <span class="visually-hidden">
                (oldest unread post)
              </span>
            </a>
          {% endif %}
        {% endwith %}
      </div>

      <a class="thread-author" href="{{ thread.get_author.get_url }}">
        {{ thread.get_author.username }}
      </a>

      {% if user.is_authenticated and thread.is_subscribed %}
        <form class="unsubscribe-form"
              action="{% url 'unsubscribe' thread.pk %}"
              method="POST">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ request.get_full_path }}">
          (<input type="submit" value="unsubscribe" />)
        </form>
      {% endif %}
      

      {% spaceless %}
      <ul class="mobile-thread-controls">
        {% with oldest_undread_post=thread.get_jump_post %}
          {% if oldest_undread_post %}
            <li>
              <a href="{{ oldest_undread_post.get_url }}"
                 title="last unread post"
                 class="oldest-unread-post"></a>
            </li>
          {% endif %}
        {% endwith %}

        {% if thread.has_been_read %}
          {% with last_post=thread.get_last_post %}
            <li>
              <a href="{{ last_post.get_url }}" title="last post"
                 class="last-post">
              </a>
            </li>
          {% endwith %}
        {% endif %}
      </ul>
      {% endspaceless %}
    </td>
    <td>
      {% with last_post=thread.get_last_post %}
        <span class="last-post-date">
          {{ last_post.created|present_dt }}
        </span>
        <span class="last-post-author">
          <span>by</span>
          <a href="{{last_post.author.get_url}}" class="author-username">{{ last_post.author.username }}</a>
          <a href="{{ last_post.get_url }}" class="last-post"
             title="last post"></a>
        </span>
      {% endwith %}
    </td>
    <td>
      {{ thread.get_post_count|intcomma }}
    </td>
  </tr>
  {% empty %}
    {% if empty_message %}
      <tr>
        <td class="empty-message" colspan="4">
          {{ empty_message }}
        </td>
      </tr>
    {% endif %}
  {% endfor %}
</table>
