{% extends "base.html" %}
{% load static from staticfiles %} 

{% block page_name %}
  {{ forum.name }} -
{% endblock %}

{% block breadcrumb %}
  &gt; <a href="{{ forum.get_url }}">{{ forum.name }}</a>
{% endblock %}

{% block content %}
  <div class="thread-index">
    <div class="forum-intro">
      <h1 class="forum-title">{{ forum.name }}</h1>
      <span class="forum-description">{{ forum.description }}</span>
    </div>

    {% if user.is_authenticated %}
      <a class="new-thread" href="{% url 'new-thread' forum.pk %}">
        New Thread
      </a>
    {% endif %}

    {% include "page_list.html" with page=threads %}

    {% include 'thread_list.html' with threads=threads %}

    {% include "page_list.html" with page=threads %}
  </div>
{% endblock %}
