{% load static from staticfiles %} 

<table class="threads">
  <tr>
    <th>New</th>
    <th>Thread</th>
    <th>Last Post</th>
    <th>Posts</th>
  </tr>
  {% for thread in threads %}
  <tr>
    <td>
      <div class="read-status">
      {% if thread.has_unread_posts %}
        <img src="{% static 'img/forum_new.gif' %}" alt="Unread posts" />
      {% else %}
        <img src="{% static 'img/forum_old.gif' %}" alt="No new posts" />
      {% endif %}
      </div>
    </td>
    <td>
      <div class="title-line">
        <a href="{% url 'thread' thread.pk %}" class="thread-name">
          {{ thread.title }}{% comment %}
        {% endcomment %}</a>

        {% with oldest_undread_post=thread.get_jump_post %}
          {% if oldest_undread_post %}
            <a href="{{ oldest_undread_post.get_url }}"
               class="oldest-unread-post"></a>
          {% endif %}
        {% endwith %}

        {% if user.is_staff %}
          <a href="{% url 'admin:ISS_thread_change' thread.pk %}"
             class="moderation-action edit-thread">
          </a>
        {% endif %}
      </div>

      <a class="thread-author" href="{{ thread.get_author.get_url }}">
        {{ thread.get_author.username }}
      </a>

      <ul class="mobile-thread-controls">
        {% with oldest_undread_post=thread.get_jump_post %}
          {% if oldest_undread_post %}
            <li>
              <a href="{{ oldest_undread_post.get_url }}"
                 class="oldest-unread-post"></a>
            </li>
          {% endif %}
        {% endwith %}

        {% if user.is_staff %}
          <li>
            <a href="{% url 'admin:ISS_thread_change' thread.pk %}"
               class="edit-thread">
            </a>
          </li>
        {% endif %}
      </ul>
    </td>
    <td>
      {% with last_post=thread.get_last_post %}
        <span class="last-post-date">
          {{ last_post.created|date:"o-m-d" }} at
          {{ last_post.created|time:"f A e" }}
        </span>
        <span "last-post-autor">
          by
          <a href="{{last_post.author.get_url}}">{{ last_post.author.username }}</a>
          <a href="{{ last_post.get_url }}" class="last-post"></a>
      {% endwith %}
    </td>
    <td>
      {{ thread.get_post_count }}
    </td>
  </tr>
  {% endfor %}
</table>
