{% extends "base.html" %}

{% block page_name %}
  {{ poster.username }} -
{% endblock %}

{% block breadcrumb %}
  &gt; Users
  &gt; <a href="{{ poster.get_url }}">{{ poster.username }}</a>
{% endblock %}

{% block content %}
  <section class="user-profile">

    <div class="public-info">
      <h3>User Profile</h3>

      <div class="profile-content">
        <div class="face-block">
          <div class="avatar">
            {% if allow_avatars and poster.avatar %}
              <img src="{{ poster.avatar.url }}">
            {% endif %}
          </div>
          <div>
            <h1>
              {{ poster.username }}

              {% if user.is_staff %}
                <a href="{% url 'admin:ISS_poster_change' poster.pk %}"
                   class="edit-user">
                </a>

                <a href="{% url 'ban-poster' poster.pk %}" class="ban-user">
                </a>

                <a href="{% url 'spam-can-user' poster.pk %}"
                   class="spam-can">
                </a>
              {% endif %}

              {% if user.is_admin and not user.pk == poster.pk%}
                <form action="{% url 'assume-identity' poster.pk %}" 
                      method="POST"
                      class="assume-identity">
                  {% csrf_token %}
                  <input type="hidden" name="next"
                         value="{{ request.get_full_path }}" />
                  <button type="submit"></button>
                </form>
              {% endif %}
            </h1>
            <small class="user-title">
              {{ poster.get_user_title }}
              {% if poster.tripphrase %}
                <span class="tripphrase">[{{ poster.tripphrase }}]</span>
              {% endif %}
            </small>
          </div>
        </div>

        <div class="stats-block">
          <div class="stat">
            <span class="label">Total Posts</span>
            <span class="value">
              <a href="{% url 'posts-by-user' poster.pk %}">
                {{ poster.post_set.count }}
              </a>
            </span>
          </div>

          <div class="stat">
            <span class="label">Join Date</span>
            <span class="value">{{ poster.date_joined|date:"Y-m-d" }}</span>
          </div>

          <div class="stat">
            <span class="label">Threads Started</span>
            <span class="value">
              <a href="{% url 'threads-by-user' poster.pk %}">
                {{ poster.thread_set.count }}
              </a>
            </span>
          </div>


          <div class="stat">
            <span class="label">Thanks Received</span>
            <span class="value">
              <a href="{% url 'thanked-posts' poster.pk %}">
                {{ poster.thanks_received.count }}
              </a>
            </span>
          </div>

          <div class="stat">
            <span class="label">Thanks Given</span>
            <span class="value">
              <a href="{% url 'posts-thanked' poster.pk %}">
                {{ poster.thanks_given.count }}
              </a>
            </span>
          </div>
        </div>

        {% if not user.pk == poster.pk %}
          <a href="{% url 'compose-pm' %}?to={{ poster.pk }}">
            Send Private Message to {{ poster.username }}
          </a>
        {% endif %}
      </div>
    </div>

    {% if user.pk == poster.pk %}
      <div class="profile-settings">
        <form action="{% url 'user-profile' poster.pk %}" method="POST">
          <h3>User Settings</h3>

          <fieldset>
            {% csrf_token %}
            <input type="hidden" name="form_name" value="SETTINGS" />
            {{ settings_form.as_p }}
            <a href="{% url 'auto-anonymize' %}">
              Anonymize your account
            </a>
            <input type="submit" value="Submit" />
          </fieldset>
        </form>
      </div>

      <div class="avatar-controls">
        <form action="{% url 'user-profile' poster.pk %}" method="POST"
              enctype="multipart/form-data">
          <h3>Change Avatar</h3>

          <fieldset>
            {% csrf_token %}
            <input type="hidden" name="form_name" value="AVATAR" />
            {{ avatar_form.as_p }}

            <p class="hint">
              Click "Submit" without picking a file to unset your avatar.
            </p>

            <input type="submit" value="Submit" />

          </fieldset>
        </form>
      </div>
    {% endif %}

    {% if user.is_staff %}
    <div class="alts">
      <h3>Alternative Accounts</h3>
      <div>
        <table>
          <thead>
            <tr>
              <th>Poster</th>
              <th>Shared Address</th>
            </tr>
          </thead>
          <tbody>
          {% for alt in poster.get_alts %}
            <tr>
              <td>
                <a href="{{ alt.poster.get_url }}">
                  {{ alt.poster.username }}
                </a>
              </td>
              <td>
                {{ alt.addr }}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="999">No alts found</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}


    <div class="ban-log">
      <h3>Ban Log</h3>
      <div>
        <table>
          <thead>
            <tr>
              <th>Active</th>
              <th>Reason</th>
              <th>Given By</th>
              <th>Given At</th>
              <th>Ends</th>
            </tr>
          </thead>
          <tbody>
          {% for ban in bans %}
            <tr>
              <td>
                <strong>
                  {% if ban.is_active %} Yes {% else %} No {% endif %}
                </strong>
              </td>
              <td>
                {{ ban.reason }}
              </td>
              <td>
                <a href="{{ ban.given_by.get_url }}">
                  {{ ban.given_by.username }}
                </a>
              </td>
              <td>
                {{ ban.start_date|date:"Y-m-d" }} at {{ ban.start_date|time:"f A e" }}
              </td>
              <td>
                {{ ban.end_date|date:"Y-m-d" }} at {{ ban.end_date|time:"f A e" }}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="999">No bans on record</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
