{% load util_tags %}
{% load humanize %}
{% load static from staticfiles %}

<table class="users">
  <tr>
    <th>Avatar</th>
    <th>Username</th>
    <th>Join Date</th>
    <th>Posts</th>
    {% if user.is_authenticated and user.is_admin %}
    <th>SPAM</th>
    {% endif %}
  </tr>
  {% for poster in posters %}
  <tr>

    <td>
      {% if allow_avatars and poster.avatar %}
        <img src="{{ poster.avatar.url }}">
      {% endif %}
    </td>
    <td>
      <a href="{{ poster.get_url }}">
        {{ poster.username }}
      </a>
    </td>
    <td>
      {{ poster.date_joined|date:"Y-m-d" }}
    </td>
    <td>
      <a href="{% url 'posts-by-user' poster.pk %}">
        {{ poster.post_set.count|intcomma }}
      </a>
    </td>
    {% if user.is_authenticated and user.is_admin %}
    <td>
      <a href="{% url 'spam-can-user' poster.pk %}"
         class="spam-can">
      </a>
    </td>
    {% endif %}

  </tr>
  {% endfor %}
</table>

