@import "../base/config.less";

.user-index {
  .spam-can {
    .icn-btn-scaleable(35);
    &:before { .icn-spam-can(); }
    display: inline-block;
  }

  .users {
    .index-table;
    .region(0,0,0,20px);
    width: 100%;

    .usertitle {
      padding-top: 3px;
      font-size: .85em;
    }

    .avatar-cell, .join-date, .post-count, .spam-cell {
      text-align: center
    }
  }
}
