@import "../base/config.less";

.user-index {
  .spam-can {
    .icn-btn-scaleable(35);
     display: block;

      &:before { .icn-spam-can(); }
  }

  .users {
    .index-table;
    .region(0,0,0,20px);
    width: 100%;

    .avatar-cell, .join-date, .post-count {
      text-align: center
    }
  }
}
