.svg-inst {
  &.read-status {
    .primary {
      stroke-width: 0.03;
      stroke: black;
      fill: red;
    }

    .specular {
      fill: white;
      stroke-width: 0;
    }

    &.read {
      .primary {
        fill: grey;
      }
    }
  }
}
