@import "../base/config.less";

.thread-index {
  .forum-intro {
    .rounded();
    background-color: @bg_light;
    margin-bottom: @content_margin_bottom;

    .forum-title {
      .title-box();
    }

    .forum-description {
      padding: 5px 20px;
      display: block;
    }
  }

  .new-thread {
    .btn();
    .teal-inv();

    float: left;
    margin-bottom: @content_margin_bottom;
  }

  .threads {
    .index-table;
    .rounded();
    margin-bottom: 20px;

    tr {
      .mobile-thread-controls {
        display: none;
      }
      
      th {
        .teal;
      }

      td {
        &:nth-child(1) {
          width: 50px;
        }

        &:nth-child(3) {
          width: 190px;
        }
        
        &:nth-child(4) {
          text-align: center;
          width: 30px;
        }

        &.empty-message {
          text-align: center;
        }

        .edit-thread {
          float: right;
        }

        .title-line {
          padding-bottom: 2px;
          display: block;
        }

        .thread-author {
          display: inline-block;
          font-size: 10px;
          text-decoration: none;
          font-weight: normal;
          color: @fg_low_contrast;
        }

        .last-post-date {
          font-size: 10px;
          display: block;
        }

        .last-post, .oldest-unread-post {
          .icn-btn();
          vertical-align: middle;

          &:before {
            .icn-right-arrow();
          }
        }
      }

      @media(max-width: @breakpoint) {
        &.mobile-thread-controls {
          display: table-row;
        }

        // Disable last post block
        > :nth-child(3) {
          display: none;
        }

        > td:nth-child(4) {
          background-color: @bg_light;
        }

        td {
          .oldest-unread-post, .edit-thread {
            display: none;
          }
        }

        ul.mobile-thread-controls:not(:empty) {
          .flex-stretch();
          list-style: none;
          margin: 0;
          padding: 0;
          border-radius: 3px;
          margin-top: 5px;
          border: 1px solid @white;
          overflow: hidden;

          li {
            .teal();
            display: block;
            .-flex(1);

            &:not(:last-child) {
              border-right: 1px solid @white;
            }

            a {
              text-align: center;
              height: auto;
              width: 100%;
              padding: 7px 5px;

              &:before {
                display: block;
                position: relative;
                content: "";
                width: 20px;
                height: 20px;
                top: 0;
                left: 50%;
                margin-left: -10px;
              }
            }
          }

          .oldest-unread-post {
            display: block;
            border: none;
          }

          .edit-thread {
            display: block;

            &:before {
              .icn-pencil();
            }
          }
        }
      }
    }
  }
}
