@import "../base/config.less";

.post-list {
  list-style: none;
  padding: 0;
  margin: 0;

  .post {
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .post-hat {
      .teal();
      padding: 5px;
      font-size: 10px;

      .post-number {
        float: right;
      }
    }

    .user-block, .post-block {
      padding: 10px;
    }

    .user-block {
      background-color: @bg_light;
      overflow: hidden;

      .avatar {
        padding-right: 10px;
        float: left;

        > img {
          max-width: 75px;
        }
      }

      .author-name {
        font-size: 16px;
        font-weight: normal;
        display: block;
        margin-bottom: 5px;
      }

      .user-title {
        display: block;
        font-size: 10px;
      }
    }

    .post-block {
      background-color: @bg_dark;

      .post-controls {
        display: block;
        overflow: hidden;
        border-top: 1px solid @seperator_color;
        padding-top: 5px;
        margin-top: 5px;

        * {
          float: right;
          margin-left: 3px;
        }

        .quote {
          .small-btn();
          .teal();
        }

        .thank-action {
          .small-btn();
          .teal();
        }

        .edit-post {
          .small-btn();
          .teal();
        }
      }
    }

    .thanker-block {
      margin-top: 5px;
      background-color: @bg_dark;

      .thanker-caption {
        .teal();
        padding: 3px 5px;
        font-size: 12px;
      }

      .thanker-list {
        list-style: none;
        padding: 5px;

        li {
          display: inline-block;
        }
      }
    }
  }
}

